.copy{
    background-color: #768ba0;
    padding: 30px;
}
.copies{
    max-width: 1300px;
    margin: 0 auto ;
    margin-right: 500px;
    display: flex;
    justify-content: space-between;

}
.next-icons{
    width: 35px;
    height: 35px;
    display: flex;
    gap: 20px;
}
.copyright{
    font-size: 20px;
    font-weight: 300px;
}