.copy{
    background-color: #768ba0;
    padding: 30px;
    width: auto;
    
}
.copies{
    max-width: 1300px;
    margin: 0 auto ;
    margin-right: 500px;
    display: flex;
    justify-content: space-between;

}
.next-icons{
    width: 35px;
    height: 35px;
    display: flex;
    gap: 20px;
}
.copyright{
    font-size: 20px;
    color: black;
    font-weight: 300px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 468px){
    .copies{
        flex-direction: column;
    }
    .copyright{
        font-size: 20px;
        /* flex: 0 0 auto; */
    }
    .next-icons{
        width: 14px;
        height: auto;
    }
}