.customers{
    background-color:#f0f8ff;
    width: 100%;
    margin-top: 50px;
    
}
.happ{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    padding: 100px;
    line-height: 2;
}
.custm-lists img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-right: 15px;
    transition: all 0.5s;
}
.custm-lists{
    padding: 20px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 468px) {
  .happ{
    font-size: 10px;
    padding: 50px;
  }
  .custm-lists img{
    width: 23px;
    height: 23px;
  }
  
}
@media only screen 
and (min-device-width : 468px) 
and (max-device-width : 768px){
   .happ{
    font-size: 16px;
   }
}
