.customers{
    background-color:#f0f8ff;
    width: 100%;
    
}
.happ{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    padding: 100px;
    line-height: 2;
}
.custm-lists img{
    width: 60px;
    height: auto;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.5s;
}
.custm-lists{
    padding: 20px;
}
@media (max-width: 768px) {
    .happ {
      font-size: 24px;
      padding: 50px 20px;
    }
  
    .custm-lists {
      padding: 15px;
    }
  }
  
  @media (max-width: 468px) {
    .happ {
      font-size: 20px;
      padding: 30px 10px;
    }
  
    .custm-lists img {
      width: 50px;
    }
  }
  
  @media (max-width: 320px) {
    .happ {
      font-size: 18px;
      padding: 20px 5px;
    }
  
    .custm-lists img {
      width: 40px;
    }
  }
