.block{
 margin-top: 50px;
}
.catas3{
    /* margin-top: 40px; */
    font-size: 46px;
    color: rgb(91, 193, 172);
}
.catas4{
  font-size: 36px;
  color: rgb(91, 193, 172);
}
.catas1{
    font-size: 36px;
    color: rgb(91, 193, 172);
}
.list-news2{
    background-color: #f0f8ff;
    border-radius: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    padding: 40px;
    margin-top: 40px;
    /* margin-bottom: 40px; */
}
.email1{
    box-shadow: none;
    border: 0;
    color: #717275;
    margin-bottom: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    outline: none;
    display: block;
    width: 95%;
    padding: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.side-two{
    align-items: center;
    /* padding: 30px; */
}
.side-one{
  padding: 30px;
}
.subs2{
    background-color: #5a6f80;
    color: #e9eaeb;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}
.subs2:hover{
  background-color: rgb(91, 193, 172);
  transition: 0.5s;
}
.area{
    width: 93%;
    height: 100%;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; 
    border: none;
    border-radius: 10px;  
}
.fullname{
    display: flex;
    margin-top: 20px;
    gap: 20px;
   
}
.send-email{
  font-size: 16px;
}
.hr-office{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.hr img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}
.hr{
    display: flex;
    gap: 20px;
    line-height: 1.4;
}
.main-line{
    height: 1px;
    width: 100%;
    background-color:#5a6f80 ;
    margin-top: 16px;
}
.number img{
    width: 20px;
    margin-right: 20px;
}
.number{
    color:#5a6f80;
}
.number:hover{
    color: #5bc1ac;
}
.contacts{
    cursor: pointer;
}
.hover:hover{
  color:#5bc1ac ;
}
.get-direction{
  background: #5a6f80;
  border: 2px solid transparent;
  padding: 15px 25px;
  text-decoration: none;
  color: white;
  border-radius: 100px;
  
}

.direction{
  margin-top: 50px;
}
.get-direction:hover{
  background: #5bc1ac;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 468px){
  .hr-office{
    flex-direction: column;
    font-size: 16px;
  }
  .catas1{
    font-size: 26px;
  }
  .fullname{
    flex-direction: column;
  }
  .hr{
    justify-content: center;
  }
  .hr-name{
    font-size: 16px;
  }
  .side-one{
    justify-content: center;
  }
  .side-two{
    justify-content: center;
  }
  .email1{
     padding: 15px 20px;
  }
  .area{
    padding: 15px ;
  }
  .list-news2{
    justify-content: center;
    align-items: center;
  }
  .direction{
    justify-content: center;
    
  }

}
@media only screen 
and (min-device-width : 468px) 
and (max-device-width : 768px){
  .hr-office{
    flex-direction: column;
    align-items: center;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
  .hr-office{
    max-width: 960px;
    margin: o auto;
    padding-left: 70px;
  }
  .side-one{
    justify-content: center;
  }
  .catas1{
    font-size: 28px;
  }
  .hr{
    font-size: 13px;
  }
  .contacts{
    font-size: 16px;
  }
  .contacts{
    font-size: 16px;
  }
  .side-two{
    justify-content: center;
  }
  .list-news2{
    flex: 0 auto;
    /* width: 75%; */
  }
}
  