.about{
    background-color: #f0f8ff;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.page{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}
.screen{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}
.two2{
    display: flex;
    margin-top: 25px;
    font-size: 16px;
    gap: 20px;

}
.part1{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    height: auto;
 
}
.part2{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    align-items: center;
    width: 100%;
    line-height: 1;
    /* vertical-align: middle; */
    /* justify-content: center; */
 
}

.one1{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
   
    
}
.numm{
    color: rgb(91, 193, 172);
    font-size: 40px;
    text-align: left;
    /* padding: 30px; */
    /* margin-top: 2px; */
}
.num1{
    font-size: 16px;
    font-weight: 300;
    /* text-align: left; */
    /* padding: 40px; */
    /* text-align: center; */
}
.secondline{
    color:rgb(91, 193, 172) ;
    font-size: 20px;
    /* line-height: 0.20; */
}
.heading{
    color: darkgrey;
    font-size: 50px;
}
.head2{
    color: rgb(91, 193, 172);
    font-size: 30px;
    /* line-height: 0.20;  */
}
.para{
    font-size: 16px;
    letter-spacing: 0.75;
}
.ull{
    list-style: hide;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .page{
    flex-direction: column;
  }
  .two2{
    flex-direction: column;
  }
  .part2{
    text-align: center;
    /* font-size: 20px; */
  }
}
@media only screen 
and (min-device-width : 460px) 
and (max-device-width : 768px) {
  .page{
    flex-direction: column;
  }
 
  .part2{
    text-align: center;
    font-size: 20px;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  
  .part2{
    text-align: center;
    /* font-size: 20px; */
  }
}