body html{
    overflow-x: hidden;
}
.imgss{
    width: 100%;
    height: 700px; 
    position: relative;
    object-fit: cover;
    object-position: top;


}
.caption{
    background-color: white;
    position: absolute;
    top: 150px;
    right: 7px;
    width: 680px;
    height: 700px;
    clip-path: polygon(100% 100%, 100% 150px,0 100%);
    text-align: right;
    /* color: black; */
    font-size: 50px;
    font-weight: bold;
}
.human{
     position:absolute;
    top: 460px;
    right:100px; 
    /* color: black; */
    /* opacity: 0.7; */
    font-size: 50px;
    font-weight: bold;
}
.lines{
    font-size: 20px;
    position:absolute;
    top: 540px;
    right:100px;
    /* color: black; */
}
.pre{
    rotate: 180deg;
    border-radius: 50%;
    border: hidden;
    position: absolute;
    top: 500px;
    background-color: darkgray;
}
.next{
    border-radius: 50%;
    border: hidden;
    position: absolute;
    top: 500px;
    right: 10px; 
    background-color: darkgray; 
} 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 468px) {
  .imgss{
    height: 100%;
    object-fit: cover;
  }
  .caption{
    clip-path: polygon(100% 100%, 100% 100px, 0 100%);
        /* padding-right: 50px; */
        min-width: inherit;
        min-height: inherit;
  }

  .lines{
    font-size: 10px;
    right: 10px;
  }
  .pre{
    opacity: 1;
        width: 60px;
        height: 60px;
  }
}
@media only screen 
and (min-device-width : 468px) 
and (max-device-width : 1024px) {
    .imgss{
        width: 100%;
        min-height: 520px;
    }
    .caption{
      font-size: 20px;
    }
}
