.headcause{
    font-size: 46px;
    opacity: 0.6;
    text-align: center;
    margin-top:90px ;
}
.center{
    display: flex;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
}
.causes{
    border: solid 0 transparent;
    border-radius: 20px;
    /* padding: 20px; */
}

.causes img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.mains{
    object-fit: cover;
    border-radius: 20px;
    background:transparent;
}
.all{
    padding: 35px;
    padding-top: 0;
}
.linesss{
    height: 5px;
    background-color: darkgrey;
    display: flex;
    border-radius: 50px;
}
.linessss{
    background-color: gray;
    width: 75%;
}
.linesss2{
    height: 5px;
    background-color: darkgrey;
    display: flex;
    border-radius: 50px;
}
.linessss2{
    background-color: gray;
    width: 50%;
}
.linesss3{
    height: 5px;
    background-color: darkgrey;
    display: flex;
    border-radius: 50px;
}
.linesss3{
    background-color: gray;
    width: 100%;
}
.grap{
    font-size: 20px;
    line-height: 1;
}
.rates{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}
.educat{
    font-size: 24px;
    font-weight: 800;
    color: rgb(91, 193, 172);
    line-height: 0.40;
    letter-spacing: 0.20;
}
.button{
    text-align: center;
    width: 100%;
   
    text-decoration: none;
    color: white;
    text-align: center;
    
}
.donat{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 15px 25px;
    background-color:#5a6f80;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.mains:hover{
     box-shadow: 0 10px 20px grey;
     transition: 0.3s;
}
.donat:hover{
    background-color: rgb(91, 193, 172);
    transition: 0.3s;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 468px) {
  .center{
    flex-direction: column;
  }
  .rates{
    font-size: 16px;
  }
  .educat{
    line-height: normal;
  }
  .grap{
    font-size: 16px;
  }

}
@media only screen 
and (min-device-width : 460px) 
and (max-device-width : 768px) {
  .center{
    flex-direction: column;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    
}