.save{
    max-width: 1400px;
    margin: 0 auto;
}
.back{
    background-color: #f0f8ff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.impact{
    font-size: 50px;
    /* text-align: center; */
    padding-left: 150px;
    opacity: 0.6;
}
.save{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.tex3{
    font-size: 16px;
    padding: 100px;
    /* gap: 20px; */
    display: flex;
    justify-content: space-between;
}
.tex3 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.donations{
   padding: 20px;
    color: gray;
}
.donations2{
    /* margin-right: 30px; */
    border: solid 1px transparent;
    background-color: grey;
    color: white;
    border-radius: 30px;
    padding:  20px;
    line-height: normal;
}
.donations2:hover{
    background-color: rgb(91, 193, 172);
}
.donations:hover{
    color: rgb(91, 193, 172);
}
@media (max-width: 320px) and
 (max-width: 768px) {
    .save {
      flex-direction: column;
      align-items: center;
      padding: 50px 20px; 
    }

    .tex2{
      font-size: 20pxx;
    }
  
    .impact {
      text-align: center;
      padding-left: 0;
      margin-bottom: 30px; 
    }
  
    .tex3 {
      padding: 50px 20px;
    }
    .impact {
      font-size: 32px;
    }
  
    .tex3 {
      padding: 20px 5px;
      flex-direction: column;
    }
  }
  
  @media (max-width: 468px) {
    .impact {
      font-size: 40px;
    }
  
    .tex3 {
      padding: 30px 10px;
    }
  }
  
 