.save{
    max-width: 1400px;
    margin: 0 auto;
}
.back{
    background-color: #f0f8ff;
    width: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.impact{
    font-size: 50px;
    opacity: 0.6;
    line-height: 0.45;
}
.save{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px; */
}
.tex3{
    font-size: 16px;
    padding: 50px;
    gap: 20px;
    /* display: flex; */
    justify-content: space-between;
}
.tex3 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.donations{
   /* padding: 20px; */
    color: gray;
    margin-right: 20px;
}
.donations2{
    /* margin-right: 30px; */
    border: solid 1px transparent;
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding:  20px;
    line-height: normal;
}
.donations2:hover{
    background-color: rgb(91, 193, 172);
}
.donations:hover{
    color: rgb(91, 193, 172);
}
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.save{
  flex-direction: column;
  align-items: center;
  line-height: normal;
  letter-spacing: 0.30;
}
.tex3 a{
  font-size: 16px;
}
.impact{
  font-size: 20px;
  line-height: 1;
}
.tex3{
  flex-direction: column;
  align-items: left;
  /* text-align: left; */
}

 }
 @media screen 
and (min-device-width : 460px) 
and (max-device-width : 768px){
  .save{
    flex-direction: column;
    align-items: center;
    line-height: normal;
    letter-spacing: 0.30;
  }
  .tex3 a{
    font-size: 20px;
  }
  .impact{
    font-size: 30px;
    line-height: 1;
  }
  .tex3{
    flex-direction: column;
    align-items: left;
    /* text-align: left; */
  } 
}
 @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .save{
    flex-direction: flex;
    align-items: center;
    line-height: normal;
    letter-spacing: 0.30;
    /* justify-content: center; */
  }
  .tex3 a{
    font-size: 16px;
  }
  .impact{
    font-size: 30px;
    line-height: 1;
  }
  .tex3{
    flex-direction: column;
    align-items: left;
    /* text-align: left; */
  }
}
  
 