.founder{
    padding: 100px;
}
.ones{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 100px;
    align-items: center;
}
.found img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 0px 10px 20px gray;
}
.hed{
    font-size: 60px;
    opacity: 0.7;
    /* line-height: 0.5; */
    margin-bottom: 0;
}
.logs{
    line-height: 1;
    font-size: 20px;
}
.sen{
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    margin-top: 30px;
}
.facebo{
    width: 40px;
}
.icon{
    list-style: none;
    display: inline;
    margin-left: 20px;
    /* align-items: left; */
}
.social{
    margin-top: 30px;
    
}

@media (max-width: 468px) {
    .founder {
      padding: 50px 20px;
    }
  
    .ones {
      flex-direction: column;
      gap: 50px;
      padding: 50px 20px;
    }
  
    .found img {
      width: 250px;
      height: 300px;
    }
  
    .hed {
      font-size: 32px;
    }
  
    .logs, .sen {
      font-size: 16px;
    }
  }
  
  @media (max-width: 320px) {
    .founder {
      padding: 30px 10px;
    }
  
    .ones {
      gap: 30px;
      padding: 30px 10px;
    }
  
    .found img {
      width: 200px;
      height: 250px;
    }
  
    .hed {
      font-size: 28px;
    }
  
    .logs, .sen {
      font-size: 14px;
    }
  }

