.backg{
    background-color:#44525d;
    margin-top: 100px;
    /* height: auto; */
    width: 100%;
}.logo-side img{
    width:100px;
    height: auto;
    max-width: 100%;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.number2 img{
    width: 20px;
    margin-right: 20px;
}
.number2{
    color: white;
    font-size: 16px;
}
.number2:hover{
    color: #5bc1ac;
}
.contacts1{
    cursor: pointer;
}

.q-items{
    text-decoration: none;
    display: block;
}
.q-items:hover{
    color: #5bc1ac;
}
.lin2{
    margin-top:40px;
    font-size: 30px;
    color: #5bc1ac;

}
.lin3{
 
  font-size: 30px;
  color: #5bc1ac;

}
.lins{
    column-count: 2;
    font-size: 20px;
    padding-left: 0;
    line-height: 2;
    justify-content: space-between;
    color: white;
}
.get-direction2{
    background: #5a6f80;
    border: 2px solid transparent;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    border-radius: 100px;
    
}

.direction2{
    margin-top: 70px;
}
.get-direction2:hover{
    background: #5bc1ac;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 468px){
    .container {
      flex-direction: column;
      /* align-items: center; */
      padding: 50px 20px;
    }
  
    .logo-side img {
      margin-bottom: 20px; 
    }
  
    .direction {
      margin-top: 40px;
    }
  
    .lins {
      column-count: 1; 
    }
    .backg {
      height: auto; 
    }
  
    .container {
      padding: 20px 5px;
    }
  
    .logo-side img {
      width: 60px; 
    }
  
    .lins {
      font-size: 14px;
    }
  
    .get-direction {
      padding: 8px 12px;
    }
  }
  @media only screen 
and (min-device-width : 468px) 
and (max-device-width : 768px){
  .container {
    flex-direction: column;
    /* align-items: center; */
    padding: 50px 20px;
    font-size: 16px;
  }
  .backg{
    height: auto;
  }
  .q-items{
    font-size: 20px;
  } 
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
.container{
  flex-direction: column;
}
.backg{
  height: auto;
}
.logo-side{
  align-items: center;
}
}
